.wrapper_layout {
  .logo {
    color: $color-primary;
    font-size: larger;
    text-align: center;
    padding: 20px;
    font-weight: bolder;
  }
  .site_layout {
    .site_layout_header {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      color: #fff;
      .header_right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header_right_dropDown {
          height: 40px;
          cursor: pointer;
        }
        .header_right_avatar {
          display: inline-block;
          width: 40px;
          height: 40px;
          border-radius: 20px;
          margin-left: 20px;
        }
        // .logout {
        //   color: #fff;
        //   :hover {
        //     color: $color-primary;
        //   }
        // }
        // button {
        //   background-color: transparent;
        //   border: none;
        //   color: #fff;
        //   :hover {
        //     color: $color-primary;
        //   }
        // }
      }
    }
    .site_layout_content {
      margin: 24px 16px;
      padding: 24px;
      min-height: calc(100vh - 64px - 48px);
      background-color: #fff;
      box-sizing: border-box;
    }
  }
}
